<% if @message.errors.any? %>
    <% @message.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
<% end %>

<h1>Enviando Mensagem</h1>

<% if headhunter_signed_in? %>
  <%= form_with url: candidate_messages_path, method: :post, local: true do |m| %>
    <%= m.label :content, 'Mande uma mensagem' %><br/>
    <%= m.text_area(:content, size: "24x3") %><br/>
    <%= m.submit 'Enviar' %>
  <% end %>

<% elsif candidate_signed_in? %>
  <%= form_with url: headhunter_messages_path, method: :post, local: true do |m| %>
    <%= m.label :content, 'Mande uma mensagem' %><br/>
    <%= m.text_area(:content, size: "24x3") %><br/>
    <%= m.submit 'Enviar' %>
  <% end %>
<% end %>
