<% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
<% end %>


<%= form_with model: @job, local: true do |j| %>
  <div class="field">
    <%= j.label :title, 'Titulo da vaga' %>
    <%= j.text_field :title %>
  </div>

  <div class="field">
    <%= j.label :job_description, 'Descrição' %>
    <%= j.text_area(:job_description, size: "24x3") %>
  </div>

  <div class="field">
    <%= j.label :skills_description, 'Habilidades desejadas' %>
    <%= j.text_area(:skills_description, size: "24x3") %>
  </div>

  <div class="field">
    <%= j.label :salary_min, 'Faixa Salarial de' %>
    <%= j.number_field :salary_min %>
  </div>

  <div class="field">
    <%= j.label :salary_max, 'até' %>
    <%= j.number_field :salary_max %>
  </div>

  <div class="field">
    <%= j.label :job_level, 'Nível da vaga' %>
    <%= j.select(:job_level, [['Estagio', 'Estagio'], ['Junior', 'Junior'], ['Pleno', 'Pleno'], ['Senior', 'Senior'], ['Especialista', 'Especialista'], ['Diretor', 'Diretor']]) %>
  </div>

  <div class="field">
    <%= j.label :subscription_date, 'Data limite para inscrições' %>
    <%= j.date_field :subscription_date %>
  </div>

  <div class="field">
    <%= j.label :city, 'Região do local de Trabalho' %>
    <%= j.text_field :city %>
  </div>

  <div class="actions">
    <%= j.submit 'Cadastrar' %>
  </div>
<% end %>