<h1><%= @job.title %></h1>
<p><b>Descrição: </b><%= @job.job_description %></p><br/>
<p><b>Habilidades desejadas: </b><%= @job.skills_description %></p><br/>
<p><b>Faixa Salarial: </b>De R$ <%= @job.salary_min %> até R$ <%= @job.salary_max %></p><br/>
<p><b>Nivel: </b><%= @job.job_level %></p><br/>
<p><b>Data limite para inscrições: </b><%= @job.subscription_date %></p><br/>
<p><b>Local de Trabalho: </b><%= @job.city %></p><br/>

<% if candidate_signed_in? %>
  <hr>

  <h2>Status da Inscrição</h2>

  <% if current_candidate.verified_profile? %>
    <% if @propose && @propose.accepted %>
      Você aceitou a Proposta! Parabéns pela nova contratação

    <% elsif @propose && @propose.accepted == false %>
      Você recusou a Proposta

    <% elsif @propose && @propose.accepted.nil? && @job.status == 'active' %>
      Oba! O recrutador te enviou uma Proposta! :D<br/>
      <%= link_to 'Ver Proposta', subscription_propose_path(@propose.subscription_id, @propose.id) %>

    <% elsif @propose && @propose.accepted.nil? && @job.status == 'finished' %>
      Que pena! Esta vaga foi finalizada.<br/>

    <% elsif @subscription && @subscription.denial_reason.blank? && !@propose && @job.status == 'active' %>
      Aguardando o retorno do Recrutador

    <% elsif @subscription && @subscription.denial_reason.blank? && !@propose && @job.status == 'finished' %>
      Que pena! Esta vaga foi finalizada.<br/>
      
    <% elsif @subscription && @subscription.denial_reason %>
      <h3>Resposta do Recrutador:</h3>
      <p><%= @subscription.denial_reason %></p>

    <% else %>
      <%= link_to 'Candidatar-se', new_job_subscription_path(@job) %><br/>

    <% end %>

  <% else %>
    <%= link_to 'Candidatar-se', edit_candidate_path(current_candidate) %><br/>

  <% end %>
<% end %>

<% if headhunter_signed_in? %>
  <% if @job.status == 'active' %>
    <%= link_to 'Finalizar Vaga', chance_status_job_path(@job), data: { confirm: "Tem certeza que deseja finalizar esta vaga?" } %>
  <% else %>
    Esta vaga foi finalizada
  <% end %>

  <hr>
  <%# <%= link_to 'Editar', edit_job_path %><br/>
  <h2>Inscritos na vaga</h2><br/>

  <% @job.subscriptions.each do |subscription| %>
    
    <% if subscription.denial_reason.blank? %>
      <h3><%= link_to subscription.candidate.name, candidate_path(subscription.candidate_id, subscription_id: subscription.id) %></h3>
      <% if subscription.featured_profile %>
        <%= link_to 'Em destaque', change_featured_profile_subscription_path(subscription) %><br/>
      <% else %>
        <%= link_to 'Marcar como destaque', change_featured_profile_subscription_path(subscription) %><br/>
      <% end %>
  
      <b>Sobre o candidato:</b> <%= subscription.about_candidate %><br/>
    <% end %>
    <br/>
  <% end %>
<% end %>

<br/><br/>
<%= link_to 'Voltar', root_path %><br/>
