<h1><%= @job.title %></h1><br/><br/>
<p><b>Descrição: </b><%= @job.job_description %></p><br/>
<p><b>Habilidades desejadas: </b><%= @job.skills_description %></p><br/>
<p><b>Faixa Salarial: </b>De R$ <%= @job.salary_min %> até R$ <%= @job.salary_max %></p><br/>
<p><b>Nivel: </b><%= @job.job_level %></p><br/>
<p><b>Data limite para inscrições: </b><%= @job.subscription_date %></p><br/>
<p><b>Local de Trabalho: </b><%= @job.city %></p><br/>

<% if candidate_signed_in? %>
  <hr>

  <h2>Status da Inscrição</h2>

  <% if current_candidate.verified_profile? %>
    <% if @propose && @propose.accepted %>
      <div class="alert alert-success" role="alert">
        Você aceitou a Proposta! Parabéns pela nova contratação
      </div>

    <% elsif @propose && @propose.accepted == false %>
      <div class="alert alert-warning" role="alert">
        Você recusou a Proposta
      </div>

    <% elsif @propose && @propose.accepted.nil? && @job.status == 'active' %>
      <div class="alert alert-warning" role="alert">
        Oba! O recrutador te enviou uma Proposta! :D<br/>
        <%= link_to 'Ver Proposta', subscription_propose_path(@propose.subscription_id, @propose.id) %>
      </div>

    <% elsif @propose && @propose.accepted.nil? && @job.status == 'finished' %>
      <div class="alert alert-dark" role="alert">
        Que pena! Esta vaga foi finalizada.<br/>
      </div>

    <% elsif @subscription && @subscription.denial_reason.blank? && !@propose && @job.status == 'active' %>
      <div class="alert alert-warning" role="alert">
        Aguardando o retorno do Recrutador
      </div>

    <% elsif @subscription && @subscription.denial_reason.blank? && !@propose && @job.status == 'finished' %>
      <div class="alert alert-dark" role="alert">
        Que pena! Esta vaga foi finalizada.<br/>
      </div>
      
    <% elsif @subscription && @subscription.denial_reason %>
      <div class="alert alert-warning" role="alert">
        <h4>Resposta do Recrutador:</h4><br/>
        <p><%= @subscription.denial_reason %></p>
      </div>

    <% else %>
      <%= link_to 'Candidatar-se', new_job_subscription_path(@job), class:"btn btn-primary" %><br/>

    <% end %>

  <% else %>
    <%= link_to 'Candidatar-se', edit_candidate_path(current_candidate), class:"btn btn-primary" %><br/>

  <% end %>
<% end %>

<% if headhunter_signed_in? %>
  <% if @job.status == 'active' %>
    <%= link_to 'Editar Vaga', edit_job_path(@job), class:"btn btn-primary" %>
    <%= link_to 'Finalizar Vaga', chance_status_job_path(@job), class:"btn btn-secondary", data: { confirm: "Tem certeza que deseja finalizar esta vaga?" } %>
  <% else %>
    <div class="alert alert-dark" role="alert">
      Esta vaga foi finalizada
    </div>
  <% end %>

  <hr>
  
  <h2>Inscritos na vaga</h2><br/>

  <% if @job.subscriptions.empty? %>
    Ainda não existem inscritos para essa vaga
  <% else %>
    <% @job.subscriptions.each do |subscription| %>
      
      <% if subscription.denial_reason.blank? %>
        <b><%= link_to subscription.candidate.name, candidate_path(subscription.candidate_id, subscription_id: subscription.id) %></b>
        <% if subscription.featured_profile %>
          <%= link_to 'Em destaque', change_featured_profile_subscription_path(subscription), class:"btn btn-warning" %><br/>
        <% else %>
          <%= link_to 'Marcar como destaque', change_featured_profile_subscription_path(subscription), class:"btn btn-light" %><br/>
        <% end %>
    
        <b>Sobre o candidato:</b> <%= subscription.about_candidate %><br/>
      <% end %>
      <br/>
    <% end %>
  <% end %>  
<% end %>

<br/><br/>
<%= link_to 'Voltar', root_path %><br/>
