<% if @propose.errors.any? %>
    <% @propose.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
<% end %>

<h1>Enviar Proposta</h1>
<%= form_with(model: @propose, url: subscription_proposes_path, local: true) do |p| %>
  <%= p.hidden_field(:candidate_id, value: params[:candidate_id]) %>
  <%= p.hidden_field(:subscription_id, value: params[:subscription_id]) %>

  <%= p.label :start_date, 'Data de Inicio' %>
  <%= p.date_field :start_date %>

  <%= p.label :salary, 'Salario' %>
  <%= p.number_field :salary %>

  <%= p.label :benefit, 'Beneficios' %>
  <%= p.text_area(:benefit, size: "24x6") %>

  <%= p.label :function, 'Função' %>
  <%= p.text_area(:function, size: "24x6") %>

  <%= p.label :company_expectation, 'Expectativas da Empresa' %>
  <%= p.text_area(:company_expectation, size: "24x6") %>

  <%= p.label :bonus, 'Bônus' %>
  <%= p.text_area(:bonus, size: "24x6") %>

  <%= p.submit 'Enviar' %>
<% end %>