<% if @candidate.errors.any? %>
    <% @candidate.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
<% end %>

<%= form_with model: @candidate, local: true do |f| %>
  <div class="field">
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthday, 'Data de Nascimento' %><br />
    <%= f.date_field :birthday %>
  </div>
  
  <div class="field">
    <%= f.label :scholarity, 'Escolaridade' %><br />
    <%= j.text_area(:scholarity, size: "24x6") %>
  </div>

  <div class="field">
    <%= f.label :work_experience, 'Experiência Profissional' %><br />
    <%= j.text_area(:work_experience, size: "24x6") %>
  </div>

  <div class="field">
    <%= f.label :job_interest, 'Vagas de Interesse' %><br />
    <%= f.text_field :job_interest %>
  </div>

  <div class="actions">
    <%= f.submit "Completar Perfil" %>
  </div>
<% end %>