<h1><%= @candidate.name %></h1>
<ul>
  <li><b>Email: </b><%= @candidate.email %></li>
  <li><b>Data de aniversario: </b><%= @candidate.birthday %></li>
  <li><b>Escolaridade: </b><%= @candidate.scholarity %></li>
  <li><b>Experiencia Profissional: </b><%= @candidate.work_experience %></li>
  <li><b>Trabalhos de Interesse: </b><%= @candidate.job_interest %></li>
</ul>
<%= link_to 'Voltar', root_path %>