<% if headhunter_signed_in? %>
  <h1><%= @candidate.name %></h1>
  <ul>
    <li><b>Email: </b><%= @candidate.email %></li>
    <li><b>Data de aniversario: </b><%= @candidate.birthday %></li>
    <li><b>Escolaridade: </b><%= @candidate.scholarity %></li>
    <li><b>Experiencia Profissional: </b><%= @candidate.work_experience %></li>
    <li><b>Trabalhos de Interesse: </b><%= @candidate.job_interest %></li>
  </ul>

  <br/>
  <% if @propose && @propose.accepted == true %>
    O Candidato aceitou sua proposta!<br/>

  <% elsif @propose && @propose.accepted == false %>
    O Candidato recusou sua proposta<br/>
    Motivo: <%= @propose.denial_reason %>

  <% elsif @propose && @propose.accepted.nil? %>
    Sua proposta foi enviada! Aguarde o retorno do Candidato<br/>

  <% else %>
    <%= link_to 'Enviar Proposta', new_subscription_propose_path(params[:subscription_id]) %><br/>
    <%= link_to 'Recusar Inscrição', edit_denial_subscription_path(params[:subscription_id]) %><br/>
  <% end %>
<% end %>

<hr>

<br/><br/>

<%= link_to 'Enviar Mensagem', new_candidate_messages_path(candidate_id: @candidate.id) %><br/>
<%= link_to 'Voltar', root_path %>