<% if headhunter_signed_in? %>
  <h1><%= @candidate.name %></h1>
  <ul>
    <li><b>Email: </b><%= @candidate.email %></li>
    <li><b>Data de aniversario: </b><%= @candidate.birthday %></li>
    <li><b>Escolaridade: </b><%= @candidate.scholarity %></li>
    <li><b>Experiencia Profissional: </b><%= @candidate.work_experience %></li>
    <li><b>Trabalhos de Interesse: </b><%= @candidate.job_interest %></li>
  </ul>

  <br/>
  <%= link_to 'Recusar Inscrição', edit_denial_subscription_path(@candidate.id) %><br/>

  <hr>

  <h2>Mensagens</h2>

  <% @messages.each do |message| %>
    <% if message.sent_by == 'headhunter' %>
      <b>Enviado por: </b><%= message.headhunter.email %><br/>
    <% else %>
      <b>Enviado por: </b><%= message.candidate.email %><br/>
    <% end %>

    <b>Mensagem: </b><%= message.content %><br/>
    <b>Criado em: </b><%= message.created_at %><br/><br/>
  <% end %>

  <br/>
  <hr>

  <%= form_with url: messages_path, method: :post, local: false do |m| %>
    <%= m.hidden_field(:candidate_id, value: params[:id]) %>
    <%= m.label :content, 'Mande uma mensagem' %><br/>
    <%= m.text_area(:content, size: "24x6") %><br/>
    <%= m.submit 'Enviar' %>
  <% end %>


<% elsif candidate_signed_in? %>
  <h2>Mensagens</h2>

  <% @messages.each do |message| %>
    <% if message.sent_by == 'headhunter' %>
      <b>Enviado por: </b><%= message.headhunter.email %><br/>
    <% else %>
      <b>Enviado por: </b><%= message.candidate.email %><br/>
    <% end %>

    <b>Mensagem: </b><%= message.content %><br/>
    <b>Criado em: </b><%= message.created_at %><br/><br/>
  <% end %>

  <br/>
  <hr>

  <%= form_with url: messages_path, method: :post, local: true do |m| %>
    <%= m.hidden_field(:headhunter_id, value: params[:headhunter_id]) %>
    <%= m.hidden_field(:candidate_id, value: params[:id]) %>
    <%= m.label :content, 'Mande uma resposta' %><br/>
    <%= m.text_area(:content, size: "24x6") %><br/>
    <%= m.submit 'Enviar' %>
  <% end %>
<% end %>

<br/><br/>
<%= link_to 'Voltar', root_path %>