<!DOCTYPE html>
<html>
  <head>
    <title>CodeJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if headhunter_signed_in? %>
      Logado como: Recrutador<br/>
      Email: <%= current_headhunter.email %><br/>

    <% elsif candidate_signed_in? %>
      Logado como: Candidato<br/>
      Email: <%= current_candidate.email %><br/>

    <% else %>
      Visitante
    <% end %>

    <p class="notice"><%= notice %></p><br/>
    <p class="alert"><%= alert %></p><br/>
    <%= yield %><br/>
  </body>
</html>
