<!DOCTYPE html>
<html>
  <head>
    <title>CodeJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container' >
        <%= image_tag "logo.png", class:'img-fluid' %>
    
        <% if headhunter_signed_in? %>
          <%= render "headhunters/shared/menu" %>
          <b>Logado como:</b> Recrutador | <b>Email:</b> <%= current_headhunter.email %><br/>

        <% elsif candidate_signed_in? %>
          <%= render "candidates/shared/menu" %>
          <b>Logado como:</b> Candidato | <b>Email:</b> <%= current_candidate.email %><br/>

        <% end %>    

      <p class="notice"><%= notice %></p><br/>
      <p class="alert"><%= alert %></p><br/>
      <%= yield %><br/>
    
    </div>
  </body>
</html>
